:root {
  --title: rgb(12, 93, 12);
  --tables: #f1c40f;
  --footer: green;
  --tableHead: rgb(28, 216, 28);
}
.title {
  background-color: var(--title);
  padding-left: 10px;
}

.all-tables {
  padding: 3rem;
  background-color: var(--tables);
  padding-bottom: 2rem;
  padding-left: 2rem;
}

footer {
  /* background-color: var(--footer); */
  text-align: center;
  margin-top: 3rem;
}

#table-title {
  font-size: 1.5rem;
  color: var(--tableHead);
  font-weight: bold;
}

.display-6  {
  color: rgb(196, 198, 194);
}

.table .strikeout {
  text-decoration: line-through;
  color: #aaa;
}

.col-12 {
  padding-left: 2rem;
}

.table td {
  font-size: 1.25rem;}