:root {
    --title: rgb(12, 93, 12);
    --tables: green;
    --footer: green;
  }
  
  .title {
    background-color: var(--title);
    padding-left: 10px;
  }
  
  .all-tables {
    background-color: var(--tables);
  }
  
  footer {
    background-color: var(--footer);
    text-align: center;
  }
  